div{
    width: 1400px;
    height: 100px;
    }
.text{
    text-align: center;
}

.row {
    display: flex;
    width: 1400px;
    height: 150px;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .div1{
    width: 2000px;
    height: 100px;
  }
  body{
    background-image: url(photo.jpg);
}