.center1{
    text-align: center;
}
div{
    width: 900px;
    height: 150px;
    margin: 100px;
    font-size: large;
}
.img{
    float: left;
    width: 270px;
    height: 180px;
}
.img1{
    float: right;
    width: 270px;
    height: 180px;
}
body{
    background-image: url(photo.jpg);
}