
div{
    width: 1700px;
    height: 400px;
    margin: 100px;
    font-size: x-large;
}
.center1{
    text-align: center;
}
body{
    background-image: url(photo.jpg);
}
.footer{
    height: 100px;
    width: 900px;
}